# use glob syntax.
syntax: glob
*.class
*~
*.bak
*.off
*.old

# Eclipse
.classpath
.project
.settings

com.ur.urcap.ur3screw/.settings/
com.ur.urcap.ur3screw/target/classes/
com.ur.urcap.ur3screw/target/test-classes/
com.ur.urcap.ur3screw/target/generated-sources/
com.ur.urcap.ur3screw/target/generated-test-sources/
com.ur.urcap.ur3screw/target/maven-status/
com.ur.urcap.ur3screw/target/surefire-reports/
